body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 2rem;
    max-width: 800px;
    background: #fdfdfd;
    color: #222;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: steelblue;
    font-weight:bold;
}

.profile-photo {
    display: block;
    margin: 1rem auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
